<!-- Component: Flashcard (Physical 3D Flip Study Card for Terms) -->
<div class="nb-flashcard" id="{{FLASHCARD_ID}}" tabindex="0" role="button" aria-label="Flip flashcard">
  <div class="nb-flashcard__inner">
    <div class="nb-flashcard__front">
      <span class="nb-stamp nb-stamp--blue">{{ACRONYM_STAMP}}</span>
      <h3>{{TERM_FRONT}}</h3>
      <p class="nb-pencil">Click or press Space to flip card</p>
    </div>
    <div class="nb-flashcard__back">
      <h4>{{EXPANSION_BACK}}</h4>
      <p>{{MEANING_BACK}}</p>
    </div>
  </div>
</div>
