<!-- Component: Formula Card -->
<article class="nb-formula" id="{{FORMULA_ID}}">
  <div class="nb-formula__header">
    <span class="nb-formula__badge">{{DOMAIN_BADGE}}</span>
    <h3 class="nb-formula__title">{{FORMULA_TITLE}}</h3>
  </div>
  <div class="nb-formula__display">
    <span class="nb-formula__math">{{FORMULA_MATH}}</span>
  </div>
  <div class="nb-formula__dictionary">
    <h4 class="nb-formula__dict-title">Variable Dictionary:</h4>
    <dl class="nb-formula__dict-list">
      {{VARIABLE_DICTIONARY_ITEMS}}
    </dl>
  </div>
  <div class="nb-formula__derivation">
    <strong>Key Assumption & Context:</strong> {{ASSUMPTIONS_TEXT}}
  </div>
</article>
